@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #000;
  color: #FFFFFF;
}


/* Navbar style */


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  display: flex;
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 8px 4px;
  padding-right: 26px;
}

.navbar li{
  list-style-type: none;
}

.navbar a{
  text-decoration: none;
  font-size: 1rem;
  color: #FFF;
}


.logo{
  color: #E6533C;
  font-style: italic;
  font-size: 2rem;
}

.menu-icon{
  display: none;
}

/* Hero section styles */


.header, .navbar{
  max-width: 85%;
  margin: 30px auto;
}

.header{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.header-content{
  margin-bottom: 150px;
}

.header-title{
  font-size: 4rem;
  font-weight: 900;
}


.header-description{
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 28px;
  line-height: 24px;
}


/* Button styles */


.btn-header-1{
  padding: 16px 42px;
  background: rgba(230, 83, 60, 1);
  color: #FFF;
  font-size: 1rem;
  border-radius: 42px;
  border: none;
}

.btn-header-2{
  padding: 16px 42px;
  color: #FFF;
  font-size: 1rem;
  background: none;
  border-radius: 42px;
  border: 1px solid #FFF;
  margin-top: 28px;
  margin-left: 14px;
}


/* Badges styles */


.header-badge1{
  padding: 12px 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 450px;
  left: 200px;
}

.badge-title{
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
}

.badge-description{
  color: rgba(255, 255, 255, 0.65);
  line-height: 25px;
  font-size: 0.8rem;
}

.header-badge2{
  padding: 12px 26px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  bottom: 200px;
  left: 10px;
  
}

.play-icon{
  width: 40px;
}

.badge-title2{
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: left;
}


/* Additional styles */


#link-style{
  background: rgba(230, 83, 60, 1) ;
  padding: 5px 18px;
  border-radius: 46px;
}

#title-style{
font-family: "Miama", sans-serif;
font-size: 7rem;
line-height: 0;
font-weight: 400;
}

/* Habbits section styles */

.habbits-section{
  max-width: 85%;
  margin: auto;
  margin-top: -130px;

  
}

.section-title{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 900;
}

.section-description{
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}

.trainers{
  display: flex;
  gap: 30px;
  margin-top: 58px;
}

.trainer img{
  border-radius: 400px;
  max-width: 250px;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.trainer{
  text-align: center;
}

.trainer-title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}

.trainer-description{
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
  font-size: 0.8rem;
}

/* Run section title */

.run-section{
  display: flex;
  gap: 60px;
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  background: rgba(34, 34, 34, 1);
  border-radius: 18px;
  padding: 25px 23px 25px 35px;
  
}

.run-section img{
  max-width: 366px;
  border-radius: 18px;
  object-fit: none;
  object-position: 65% 28%;
  
}

.run-title{
  font-size: 2.2rem;
  font-weight: 900;
}

.run-description{
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  margin-top: 14px;
}

.run-btn{
  padding: 16px 52px;
  border-radius: 42px;
  border: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(230, 83, 60, 1);
  margin-top: 28px;
}

/* Bmi calculator styles */

.bmi-content{
  max-width: 650px;
  margin: 50px auto;
}

.bmi-calculator h3{
  font-size: 2.8rem;
  font-weight: 900;
}

.bmi-calculator p{
  font-size: 0.8rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}

.bmi-calc-section{
  display: flex;
  gap: 30px;
  margin-top: 60px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
}

.bmi-calc-chart{
  margin-left: 30px;
  margin-top: 50px;
}

.bmi-calc-chart h3{
 font-size: 1.7rem;
 font-weight: 900;
 margin-bottom: 38px;
}

.bmi-calc-chart table{
  border-collapse: collapse;
}

.bmi-calc-chart th, td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 25px;
  text-align: center;
}

.bmi-calc-chart th{
  font-size: 1rem;
  font-weight: 500;
}

.bmi-calc-chart td{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}

.bmi-calc h3{
  font-size: 1.7rem;
  font-weight: 900;
}

.bmi-calc p{
  font-size: 0.8rem;
  margin-top: 14px;
  margin-bottom: 34px;
}

.bmi-calc{
  margin-top: 50px;
  margin-right: 20px;
}

.input-box{
  display: flex;
}


.input-box input{
  padding: 10px 3px 10px 12px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  margin: 4px;
}

.input-box input[placeholder]{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.input-box-2 .input2{
  width: 550px;
  height: 42px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  margin-top: 5px;
  margin-left: 4px;
  border-radius: 8px;
}

.input-box-2 input[placeholder]{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.calc-btn{
  background: rgba(230, 83, 60, 1);
  border: none;
  padding: 16px 48px;
  color: #FFF;
  border-radius: 42px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
}

.down-arrow-1{
  right: 44px;
  top: 2px;
  position: relative;
}

.down-arrow-2{
  position: relative;
  left: 514px;
  bottom: 32px;
}

/* Our teams styles */

.our-team{
  max-width: 85%;
  margin: auto;
}

.our-team-title{
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
  margin-top: 80px;
}

.our-team-description{
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 14px;
}

.teams{
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.10);
  padding: 20px;
  margin-top: 58px;
  height: 525px;
}

.teams-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}


.team img{
width: 100%;
height: 230px;
border-radius: 18px;
object-fit: cover;
filter: brightness(0.75);
}



.team-title{
  font-size: 1rem;
  font-weight: 800;
}

.team-description{
  font-size: 0.8rem; 
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.team-title, .team-description{
  position: relative;
  top: -55px;
  left: 20px;
}


/* Medium Device Responsive */


@media screen and (max-width: 576px) {
  
.navbar, .header{
  max-width: 90%;
  margin: 30px auto;
}

 
   /* Navbar */
  
 .navbar ul{
   display: none;
 }
 
 .menu-icon{
display: block;
}


/* Hero section */


.header{
  flex-direction: column;
  margin-top: 51px;
}

.header-content{
  margin-bottom: 45px;
}
.header-title{
  font-size: 2.5rem;
  font-weight: 800;
}

.header-description{
  width: 300px;
}

#title-style{
  font-size: 4.5rem;
  font-weight: 400;
}

.btn-header-1{
  padding: 16px 38px;
  font-size: 0.9rem;
}

.btn-style1{
  display: none;
}

.header-badge1{
  bottom: 530px;
  left: 190px;
  padding: 9px 20px;
}

.badge-title1{
  font-size: 1.8rem;
}

.badge-description1{
  font-size: 5rem;
}
.btn-header-2{
  padding: 16px 38px;
  font-size: 0.9rem;
}

.header-badge2{
  bottom: 250px;
  padding: 12px 20px;
}

.play-icon{
  width: 30px;
}

.badge-title2{
  font-size: 1.1rem;
}

/* Habbits section */

.trainers{
  flex-direction: column;
}

.section-title{
  font-size: 2.2rem;
}

/* Run section */

.run-section{
  flex-direction: column;
  max-width: 75%;
  margin: 50px auto;
  
}

.run-section  img {
  max-width: 100%;
  margin: auto;
  margin-top: -20px;
  object-fit: contain;
}

.run-section-content{
  max-width: 100%
}

.run-title{
  font-size: 2rem;
}

.run-btn{
  display: block;
  margin: auto;
  margin-top: 28px;
  padding: 16px 100px 16px 100px;
}

/* Bmi calculator */

.bmi-content{
  max-width: 85%;
}

.bmi-calc-section{
  flex-direction: column;
  height: 860px;
}

.bmi-calc{
  margin-left: 29px;
}

.input-box input{
  width: 180px;
  height: 26px;
}

.input-box-2 .input2{
  width: 398px;
  height: 46px;
  
}

.calc-btn{ 
  padding: 16px 64px;
}

.down-arrow-2{
  left: 360px;
}

/* Our team */

.teams{
  height: 1111px;
}

.teams-box{
  grid-template-columns: 1fr;
}

.team-hide{
  display: none;
}
}